<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>API</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="/todo" style="color: blue">/todo</a> - barcha todolarni
                qaytaradi
            </li>
            <li>
                <a href="/todo/1" style="color: blue">/todo/:id</a> - id
                bo'yicha todo qaytaradi
            </li>
            <li>
                <a href="/delete" style="color: blue">//todo/:id</a> - id
                bo'yicha todoni o'chiradi
            </li>
        </ul>
    </body>
</html>
